<div class="container">

  <div class="page-wrapper">

    <div class="side-bar">
      <h1 class="side-bar-title">Add New To Do</h1>

      <app-add-form (onAddToDo)="addToDo($event)"/>
    </div>

    <div class="main-page">
      <h1 class="main-page-title">Today's To Do List</h1>
      
      <div class="list-wrapper">
        <app-to-do
          *ngFor="let todo of todos" 
          [todo]="todo" 
          (onDeleteToDo)="deleteToDo(todo)" 
          (onUpdateStar)="toggleStar(todo)" 
        />
      </div>
    </div>

  </div>

</div>


